#abouts{
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  color: #57E2E5;
  margin: 1.5rem;
  text-align: center;
}
#about-data{
  font-family: Poppins,sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    color: #FFFCF9;
    text-align: center;
    text-align: justify;
}
.slider {
    position: relative;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto;
  }
  
  .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    flex: 0 0 100%; /* Adjust the width of slides */
    padding: 20px;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  